<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.karukan.inputmethod.Karukan</string>
    <key>CFBundleName</key>
    <string>Karukan</string>
    <key>CFBundleDisplayName</key>
    <string>Karukan</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>KarukanInputMethod</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>TISInputSourceID</key>
    <string>com.karukan.inputmethod.Karukan</string>
    <key>TISIntendedLanguage</key>
    <string>ja</string>
    <key>InputMethodConnectionName</key>
    <string>Karukan_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>KarukanInputController</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.karukan.inputmethod.Karukan.Japanese</key>
            <dict>
                <key>TISInputSourceID</key>
                <string>com.karukan.inputmethod.Karukan.Japanese</string>
                <key>TISIntendedLanguage</key>
                <string>ja</string>
                <key>tsInputModeDefaultStateKey</key>
                <true/>
                <key>tsInputModeIsVisibleKey</key>
                <true/>
                <key>tsInputModePrimaryInScriptKey</key>
                <true/>
                <key>tsInputModeScriptKey</key>
                <string>smJapanese</string>
            </dict>
        </dict>
        <key>tsVisibleInputModeOrderedArrayKey</key>
        <array>
            <string>com.karukan.inputmethod.Karukan.Japanese</string>
        </array>
    </dict>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Hira</string>
        <string>Kana</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>AppIcon</string>
</dict>
</plist>
